.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15vh;
}
.progress-box {
  width: auto;
  align-self: center;
  margin: 0 1rem;
  padding: 30px 60px;
  border-radius: 20px;
  border: 0.5px solid #ccc;
  border-top: 3px solid #cb03cf;
  border-bottom: 3px solid #ccc;
  background-color: #fff;
}
.progress-form {
  background-color: #c9e3ff;
  color: #606d7a;
  border-radius: 10px;
  min-width: 35rem;
  min-height: 10rem;
  width: auto;
  height: auto;
}
.progress-h1 {
  font-size: 1.6rem;
}
.progress-p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 2rem 0;
  color: #463b3c;
}
.round {
  margin: 1rem 0;
  text-align: left;
}
.round-input {
  margin: 1rem 1rem;
  color: #463b3c;
}
.progress-h2 {
  text-align: left;
  padding: 1rem 1rem;
  font-size: 1.4rem;
}
.progress-form-input {
  background-color: #c9e3ff;
  border: none;
  width: 100%;
  font-size: 0.8rem;
  min-height: 10rem;
  padding: 0 1rem;
}
.progress-btn {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 4rem;
  border-radius: 7px;
  border: none;
  margin-top: 0.9rem;
  width: auto;
  max-width: 210rem;
  align-self: center;
  cursor: pointer;
}
.progress-btn:hover {
  background-color: #1165c0;
}

@media only screen and (max-width: 709px) {
  .progress-box {
    padding: 30px 30px;
  }
  .progress-form {
    background-color: #c9e3ff;
    color: #606d7a;
    border-radius: 10px;
    min-width: 25rem;
    min-height: 10rem;
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 480px) {
  .progress-form {
    background-color: #c9e3ff;
    color: #606d7a;
    border-radius: 10px;
    min-width: 15rem;
    min-height: 10rem;
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 320px) {
  .progress-box {
    width: auto;
    align-self: center;
    margin: 0 1rem;
    padding: 30px 10px;
    border-radius: 20px;
    border: 0.5px solid #ccc;
    border-top: 3px solid #cb03cf;
    border-bottom: 3px solid #ccc;
    background-color: #fff;
  }
  .progress {
    margin: 1rem 1rem;
  }
  .progress-p {
    margin: 1rem 0;
    color: #463b3c;
  }
}
